<div class="row text-center">
	<%= form_for @user, html: {class: "login-user-form"} do |f| %>
	  <% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
	  	<% unless @user.email.nil? %>
		    <p>* If you are not <%= @user.email %> , please enter your email to log in and play.</p>
		<% end %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Play" %>
	  </div>
	<% end %>
	<button><%= link_to "Stats", '/stats' %></button>
</div>
