<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<div class="row text-center">
	<button>
		<%= link_to 'Back', users_path %>
	</button>
	<button>
		<%= link_to 'Stats', "/stats"%>
	</button>
</div>