<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:none;">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :bet_amount %><br />
    <% Game::ALLOWED_BET_AMOUNTS.each do |val| %>
      <%= f.radio_button :bet_amount, val %>
      <%= f.label :bet_amount, val %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Deal" %>
  </div>
<% end %>
