<h1>Your games</h1>
<%if @user %>
    <% unless @games.blank? %>
        <table class="table table-striped">
          <tr>
            <th>Index</th>
            <!-- <th>User</th> -->
            <th>Won</th>
            <th>Your Card sequences</th>
            <th>Dealer card sequences</th>
            <th>Bet amount</th>
            <th></th>
          </tr>
        <% @games.each_with_index do |game, index| %>
          <tr>
            <td><%= index+1 %></td>
<!--             <td><%= game.user_id %></td>
 -->            <td><% if game.is_won %>YES<% else %>NO <%end%></td>
            <td><%= game.cards_from_sequence(game.card_sequence) %> (<%= Game.scoreHand(game.card_sequence) %>)</td>
            <td><%= game.cards_from_sequence(game.dealer_card_sequence) %> (<%= Game.scoreHand(game.dealer_card_sequence) %>)</td>
            <td><%= game.bet_amount %></td>
            <td><%= link_to 'Show', game %></td>
          </tr>
        <% end %>
        </table>

        <br />
        <% if @user %>
            <%= link_to 'New Game', new_game_path(game:{user: @user.id}) %>
        <% end %>
    <% else %>
        <div class="row text-center">No Games found.</div>
    <% end %>
<% else %>
    <div class="row text-center">Please login.</div>
    <%= link_to 'Login', "/login" %>
<% end %>